<mat-toolbar color="primary">
  <button
    mat-icon-button
    id="menuIcon"
    aria-label="Example icon-button with menu icon"
    (click)="sidenav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span id="navbar">Adress Book</span>
  <a mat-button routerLink="/" class="top-menu-item">Home</a>
  <a mat-button routerLink="/contacts" class="top-menu-item">Contacts</a>

  <span class="example-spacer"></span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="50" mode="side">
    <div class="side-nav-items">
      <div>
        <a
          (click)="sidenav.close()"
          mat-button
          routerLink="/"
          class="side-menu-item"
          >Home</a
        >
      </div>
      <div>
        <a
          (click)="sidenav.close()"
          mat-button
          routerLink="/contacts"
          class="side-menu-item"
          >Contacts</a
        >
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet> </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
